* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 165, 129);
}

.container{
    position: relative;
    top: 130px;
    box-sizing: border-box;
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.tabs{
    display: flex;
    background-color: rgb(198, 239, 255);
}

.tabs h3{
    display:flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tabs .ativa{
    background-color: rgb(255, 255, 255);
}

.tab-content p{
    position: relative;
    top: 10px;
}

.tab-content .ativa {
    display:block;
    background-color: rgb(255, 255, 255);
}

.tab-content div{
    display: none;
    padding: 0.5rem 2rem 2rem 2rem;
}


