* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 165, 129);
}

.container {
    position: relative;
    display: grid;
    top: 130px;
    box-sizing: border-box;
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
}